.spacex{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    position: relative;
    align-items: flex-start;
}
.logo{
  position: absolute;
  width: 200px;
  height: 50px;
  top: 8px;
  left: 4px;
  
  
}
.spacex-pic{
  
  display: flex;
  border-bottom: 0cm;
  height: 720px;
  width: 1580px;
  margin:top;
  padding: 0;
  padding-top: 0;
  padding-right: 0;
  text-align: center;
  align-items: flex-end;

}
.spacex-main-nav{
  position: relative;
  position: sticky;
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-decoration-style: solid;
}
.spacex-header-left{
  position: relative;
  text-align: center;
  color: black;
  font-size: medium;
  font-style: normal;
  font-weight: 200px;
  font-kerning: normal;
  
}
.rewatch{
  position: absolute;
  bottom:200px;
  left: 50px;
  border-radius: 10px;
  padding: 10px;
  flex-wrap: wrap;
  color: azure;
  opacity: 1;
  font-size: medium;
  font-style: oblique;
  background-color: transparent;
    font-weight: bold;
  


}
.falcon{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 8px;
  left: 0px;
}

.heavy{
  position: absolute;
  top: 8px;
  left: 100px;
  
}

.starlink{
  position: absolute;
  top: 8px;
  right:5px
}


.starship{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 8px;
  right: 10px;
}

.dragon{
  position: absolute;
  flex-direction: row;
  top: 8px;
  left:250px;

}
.star{
  position: absolute;
  flex-direction: row;
  top: 8px;
  left:350px;

}
.ride{
  position: absolute;
  flex-direction: row;
  top: 8px;
  right:100px;

}
.human{
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  top:50;
  right:0;
}